<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Define Sli</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
       <label for="emailId" class="col-md-3">Email Id</label>
        <input type="email" class="form-control col-md-8 " id="emailId" placeholder="Enter your Email Address"/>
        <small id = "emailHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group row">
        <label for="emailPasswordId" class="col-md-3">Email Password</label>
        <input type="password" class="form-control col-md-8" id="emailPasswordId" placeholder="Email Password">
      </div>
    </form>
    <div class= "form-group form-check">
      <input type="checkbox" class="form-check-input" id="checkMeOut"/>
      <label for="checkMeOut" class="form-check-label" >Check me out</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="material-icons" (click)="open(content)">add</button>

<hr>

<pre>{{closeResult}}</pre>
