/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/angular-tree-component/dist/angular-tree-component.css';
@import "../node_modules/material-design-icons/iconfont/material-icons.css";
li {
  font-size: large;
}
label {
  font-weight: bold;
}
div.panel-heading {
  font-size: x-large;
}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.category-placeholder {
  background-color: #999999;
  border-right: 1px solid red;
  height: 100%;
}
.rule-editor {
  height: 100%;
}
.rule-mat-card {
  max-width: 300px;
  max-height: 1000px;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto'
}

#ng-view {
  position: relative;
  padding-top: 50px;
}

#nav-login {
  margin-left:30px;
}

.appTitle {
  line-height:50px;
}

.view {

}

.white {
  color: white;
}

.white:hover{
  color: white;
}

.card {
  background-color:#fff;
  border: 1px solid #d4d4d4;
  height:200px;
  margin-bottom: 20px;
  position: relative;
  float: left;
}

.cardHeader {
  background-color:#027FF4;
  font-size:14pt;
  color:white;
  padding:2px;
  width:100%;
}

.cardClose {
  color: white;
  font-weight:bold;
  margin-right:5px;
}

.cardContainer {
  width:85%;
}

.cardBody {
  padding-left: 5px;
}

.cardBodyLeft {
  margin-top: -5px;
}

.cardBodyRight {
  margin-left: 20px;
  margin-top: 2px;
}

.cardBodyContent {
  width: 100px;
}

.cardImage {
  height:50px;width:50px;margin-top:10px;
}

.lastRow {
  background-color: #ccc;
}

.indent {
  margin-left:5px;
}

.ordersTable {
  width:85%;
}

.orders th, .customers th {
  width:20%;
  cursor: pointer;
}

.ordersTable tr:first-child th, .customersTable tr:first-child th {
  background-color: #027FF4;
  color: #fff;
  font-weight: bold;
}

.gridContainer td {
  vertical-align: middle;
}


#submitCustomer {
  margin-left:50px;
  margin-top: -8px;
}



/* Bootstrap overrides */

/* Added to fix Bootstrap 3 issue with Angular UI Bootstrap modal dialog*/
.modal {
  display: block;
  overflow: hidden;
  overflow-y: hidden;
}


.cardContainer .col-md-3 {
  padding-left: 0px;
}




.close {
  font-size:15pt;
  opacity: 1.0;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn.active {
  background-color: #f7f7f7;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
  display: none;
}

.novalidate {
  border-left: none !important;
}


