<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div>
        <input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="filter nodes"/>
        <button (click)="tree.treeModel.clearFilter()">Clear Filter</button>
        <tree-root #tree [focused]="true" [nodes]="nodes" [options]="treeOptions"
                   (activate)="onNodeSelection($event)" (deactivate)="onNodeDeselection($event)">
        </tree-root>
      </div>
    </div>
    <div class="col-lg-9">

      <div class="cardContainer" style="margin-top: 10px">
        <div class="card col-sm-6 col-md-4 col-lg-3">
          <div class="cardHeader">Add New Sli   </div>
          <div class="cardBody">
            <div class="clearfix">
              <div class="pull-left cardBodyLeft">
              </div>
              <div class="pull-left cardBodyRight">
                <div class="cardBodyContent">
                  <button class="material-icons" (click)="addNewSli()">add_circle_outline</button>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let sli of slis" class="card col-sm-6 col-md-4 col-lg-3">
            <button class="btn close cardClose" title="Delete Customer" (click)="removeSli(sli)">&times;</button>
            <div class="cardHeader">Add Card Header</div>
            <div class="cardBody">
              <div class="clearfix">
                <div class="pull-left cardBodyLeft">

                </div>
                <div class="pull-left cardBodyRight">
                  <div class="cardBodyContent">
                    <app-modal-basic ></app-modal-basic>
                  </div>
                  <div>
                    <a class="material-icons" [routerLink]="['/products']">link </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

